<template>
  <div id="course-page">
    <Header />

    <div class="_bg_dark">
      <img class="bg-icon" src="~/static/images/bg-dark-top.svg" alt="" />
      <div class="_wrapper">
        <div class="_flex">
          <div class="_info_block">
            <div>
              <span class="_note"> Kursga kiritilgan: </span>
              <span class="_fill_secondary"> 3ds max </span>
              <span class="_fill_secondary"> Lumion 4d </span>
              <span class="_fill_secondary"> after effects </span>
            </div>
            <div>
              <span class="_note">Kursning qiyinligi:</span>
              <span class="_fill_secondary"> Beginner</span>
            </div>

            <div>
              <span class="_note">Nima o'rganamiz:</span>
              <span class="_fill_secondary"> Corona render</span>
              <span class="_fill_secondary"> Modellashtirish</span><br />
              <span class="_fill_secondary"> Realistik render qilishni</span>
            </div>
            <div class="_player">
              <div></div>
              <img class="_icon" src="~/static/images/play-icon.svg" alt="" />
            </div>
          </div>
          <div>
            <span class="_h1"> 3Ds MAX </span>
            <span class="_p">
              Bu kurs, shubhasiz, 3d dunyosidan umuman xabari bo'lmagan, lekin
              o'z bilimlarini kengaytirishni va uni ko'plab misollar bilan
              mustahkamlashni xohlaydiganlar uchun ayni muddao.
            </span>
            <span class="_note"
              ><span>•</span>  Освоите один из самых универсальных языков программировани <br> <span>•</span>  
              Добавите в портфолио три полностью работоспособных проекта <br> <span>•</span>  
              Получите опыт работы в команде — выполните совместный проект с
              одногруппниками</span
            >
            <span class="_h2"> 315,000 UZS </span>
            <button class="_btn_white">Ro'yxatdan o'tish</button>
          </div>
        </div>
        <div class="_margin_small"></div>
      </div>
      <div class="_dotted">
        <div>
          <span class="_h2"> От преподавателя </span>
          <span class="_p">
            Салам, пацаны. Этот курс просто лучшее из того, что я создавал в
            своей жизни мать вашу. Залетайте и охеревайте от качества
            продукта.<br /><br />
            И еще много разных искренних слов от преподавателя. <br /><br />
            4 месяца и вы готовый к работе специалист. Доступно. Качественно. По
            авторским методикам и постоянным контактом с преподавателем. <br />
            <br />
            Курсы по программированию, маркетингу, SMM, 3D-моделированию и
            графическому дизайну. <br /><br />
            Java стабильно лидирует по популярности среди программистов согласно
            индексу языков программирования TIOBE. Это классический, строго
            типизированный язык, который отлично подойдёт для новичков. Большая
            часть мобильных приложений написана именно на Java. <br /><br />
            Kotlin — сравнительно молодой язык, который уже стал четвёртым по
            популярности языком программирования по данным Stack Overflow.<br /><br />
          </span>

          <div class="_avatar">
            <img src="~/static/images/ava.jpg" alt="" />
            <span class="_p">Michael Jordan</span>
          </div>
        </div>
      </div>
      <div class="_width_small">
        <div class="_cont">
          <div
            @click="item.active = !item.active"
            class="_block"
            v-for="item of this.arr"
            :key="item.id"
          >
            <div class="_block_flex">
              <img
                v-if="item.active"
                src="~/static/images/minus-circle.png"
                alt=""
              />
              <img v-else src="~/static/images/plus-circle.png" alt="" />
              <span class="_h3">{{ item.title }}</span>
              <span class="_fill_secondary">{{ item.times }} занятий </span>
              <span class="_fill_secondary"> {{ item.duration }} минут </span>
            </div>
            <span class="_p">{{ item.info }}.</span>
            <div v-show="item.active" class="_grid">
              <div
                class="_preview"
                v-for="lesson of item.lessons"
                :key="lesson.id"
              >
                <span class="_note">Kirish</span>
                <span class="_note">44:15</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_line"></div>
      <div class="_width_small">
        <div class="_margin_small"></div>
        <span class="_h2"> Проекты на курсе </span>
        <div class="_grid">
          <div class="item">
            <div class="preview"></div>
            <span class="_note">ПРиложение 1</span>
            <span class="_p"
              >Help the owner of a whimsical bookshop in his quest to sort books
              in a variety of different manners.</span
            >
          </div>
          <div class="item">
            <div class="preview"></div>
            <span class="_note">ПРиложение 1</span>
            <span class="_p"
              >Help the owner of a whimsical bookshop in his quest to sort books
              in a variety of different manners.</span
            >
          </div>
          <div class="item">
            <div class="preview"></div>
            <span class="_note">ПРиложение 1</span>
            <span class="_p"
              >Help the owner of a whimsical bookshop in his quest to sort books
              in a variety of different manners.</span
            >
          </div>
        </div>
        <div class="_margin_small"></div>
      </div>
      <div class="_line"></div>
      <div class="_width_small">
        <div class="_margin_small"></div>

        <div class="_flex">
          <div>
            <span class="_h2">
              Вернём деньги, если <br />
              обучение не подойдёт
            </span>
            <span class="_p"
              >Деньги можно вернуть в любой момент. В течение первых трёх
              занятий вы получите назад полную сумму, а начиная с четвёртого —
              стоимость оставшихся занятий. А ещё всегда можно перевестись на
              другой курс.</span
            >
          </div>
          <div>
            <img src="~/static/images/cartoon.png" alt="" />
          </div>
        </div>
      </div>
      <div class="_wrapper">
        <Form :dark="false" />
      </div>
      <div class="_bg_white">
        <span class="_h2">Готовы учиться на курсе “3Ds MAX”?</span>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import "~/static/css/course-page.css";

export default {
  data() {
    return {
      arr: [
        {
          title: "Модуль 1. Начало работы",
          times: "6",
          duration: "120",
          info: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, recusandae? Suscipit nesciunt facilis pariatur. Pariatur nesciunt sapiente nihil similique sint commodi fugiat officia quia cupiditate.",
          lessons: 5,
          active: false,
        },
        {
          title: "Модуль 1. Начало работы",
          times: "14",
          duration: "218",
          info: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, recusandae? Suscipit nesciunt facilis pariatur. Pariatur nesciunt sapiente nihil similique sint commodi fugiat officia quia cupiditate.",
          lessons: 8,
          active: false,
        },
        {
          title: "Модуль 1. Начало работы",
          times: "13",
          duration: "190",
          info: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, recusandae? Suscipit nesciunt facilis pariatur. Pariatur nesciunt sapiente nihil similique sint commodi fugiat officia quia cupiditate.",
          lessons: 4,
          active: false,
        },
        {
          title: "Модуль 1. Начало работы",
          times: "10",
          duration: "165",
          info: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, recusandae? Suscipit nesciunt facilis pariatur. Pariatur nesciunt sapiente nihil similique sint commodi fugiat officia quia cupiditate.",
          lessons: 3,
          active: false,
        },
      ],
    };
  },
  props: ["details"],
};
</script>


<style>
</style>