<template>
  <div id="footer">
    <div class="_bg_dark">
      <div class="_width_smallest">
        <div class="_flex">
          <div>
            <span class="_h2"> Не знаете с чего начать? </span>
            <span class="_p"
              >This short quiz will sort you out. Answer a few simple questions
              to get personal career advice and course recommendations.</span
            >
            <button class="_btn_white">Ro'yxatdan o'tish</button>
          </div>
          <div>
            <img src="../static/images/cartoon2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="_bg_corp">
      <div class="_width_small">
        <div class="_flex">
          <span class="_h2">
            Будьте частью <br />
            чего-то крупного
          </span>
          <div class="_flex">
            <span class="_h2">
              1000+ <br />
              <span>Пользователей</span>
            </span>
            <span class="_h2">
              30 <br />
              <span> Курсов</span>
            </span>
            <span class="_h2">
              15<br />
              <span>Специалистов</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="_flex">
        <span class="_p">&copy; 2021 Wepro</span>
        <div>
          <a target="blank" href="https://www.facebook.com/wepro.uz/">
            <img src="../static/images/facebook (1).png" alt="" />
          </a>
          <a target="blank" href="https://t.me/weprouz">
            <img src="../static/images/telegram (1).png" alt="" />
          </a>
          <a target="blank" href="https://www.instagram.com/wepro.uz/">
            <img src="../static/images/instagram (1).png" alt="" />
          </a>
        </div>
        <span class="_p">v1.0</span>
      </div>
    </footer>
  </div>
</template>

<script>
import "~/static/css/footer.css";
export default {};
</script>

<style>
</style>