<template>
  <div id="form">
    <div class="_width _form">
   
      <div  :class="dark ? '_form_bg_dark' : '_form_bg_white'"></div>
      <div class="_width_small"></div>
      <form :class="dark ? '_form_white' : ''">
        <span class="_h2">Ro'yxatdan o'tish</span>
        <span class="_p">
          Wepro Akademiyasida roʻyxatdan oʻting va bepul kurslar hamda
          vebinarlarga kirish huquqiga ega boʻling.
        </span>
        <input type="text" placeholder="Izm va familiya" />
        <input type="text" placeholder="Email" />
        <button :class="dark ? '_btn_white' : '_fill'">Ro'yxatdan o'tish</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["dark"],
};
</script>

<style>
</style>