<template>
   <div class="_grid">
        <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note"> Sohib Abdurahmonov • 2 oy • onlayn </span>
            <span class="_h4">500,000 UZS</span>
            <p class="_fill_secondary">active<b class="_circle"></b></p>
          </div>
        </div>
         <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note">Sohib Abdurahmonov • 2 oy • onlayn</span>
            <span class="_h4">500,000 UZS</span>
            <button>Kurs haqida</button>
          </div>
        </div>
        <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note"> Sohib Abdurahmonov • 2 oy • onlayn </span>
            <span class="_h4">500,000 UZS</span>
            <button>Kurs haqida</button>
          </div>
        </div>

        <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note"> Sohib Abdurahmonov • 2 oy • onlayn </span>
            <span class="_h4">500,000 UZS</span>
            <button>Kurs haqida</button>
          </div>
        </div>
        <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note"> Sohib Abdurahmonov • 2 oy • onlayn </span>
            <span class="_h4">500,000 UZS</span>
            <button>Kurs haqida</button>
          </div>
        </div>
        <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note"> Sohib Abdurahmonov • 2 oy • onlayn </span>
            <span class="_h4">500,000 UZS</span>
            <button>Kurs haqida</button>
          </div>
        </div>
        <div class="_item">
          <div class="preview"></div>
          <div class="description">
            <span class="_h4">Landing page с нуля</span>
            <span class="_note"> Sohib Abdurahmonov • 2 oy • onlayn </span>
            <span class="_h4">500,000 UZS</span>
            <p class="_fill_secondary">active<b class="_circle"></b></p>
          </div>
        </div>
      </div>
</template>

<script>

export default {

}
</script>

<style>

</style>