<template>
  <div id="header">
    <div v-bind:class="{ _remove: isActive }">
      <div class="_modal" v-show="this.isActive">
        <div>
          <span class="_p">
            Теперь все новости в Telegram-канале! Переходите по ссылке
            <a target="blank" href="https://t.me/weprouz">
              <span>Подробнее</span>
            </a>
          </span>
        </div>
        <img
          @click="isActive = !isActive"
          src="~/static/images/close.svg"
          alt=""
        />
      </div>
    </div>
    <div class="_flex">
      <nuxt-link to="/">
        <img src="../static/images/logo (2).png" alt="" />
      </nuxt-link>
      <div class="_flex">
        <nuxt-link to="/courses/">
          <span class="_p">Barcha kurslar</span>
        </nuxt-link>
        <nuxt-link to="/player/">
          <span class="_p">Player</span>
        </nuxt-link>
        <nuxt-link to="/">
          <span class="_p">O'qituvchilar</span>
        </nuxt-link>
        <nuxt-link to="/">
          <span class="_p">Bog’lanish</span>
        </nuxt-link>
        <nuxt-link to="/">
          <span class="_p">O'qitishni istayman</span>
        </nuxt-link>
      </div>
      <button class="_fill">Ro'yxatdan o'tish</button>
    </div>
  </div>
</template>

<script>
import "~/static/css/header.css";

export default {
  data() {
    return {
      isActive: true,
    };
  },
};
</script>

<style>
</style>