<template>
  <div id="home-page">
    <Header />

    <div class="_main_heading">
      <h1>Zamonaviy ko'nikmalar va kasblarni o'rganish uchun platforma</h1>
      <p>
        Wepro Akademiyasida roʻyxatdan oʻting va bepul kurslar hamda
        vebinarlarga kirish huquqiga ega boʻling - biz uni sizning
        qiziqishlaringiz va maqsadlaringiz uchun moslashtiramiz. Yangi
        boshlanuvchilar va amaliyotchilar uchun taniqli bozor mutaxassislarining
        eng so'nggi bilimlari.
      </p>
      <div class="_flex">
        <div>
          <img src="../static/images/done (2).svg" alt="" />
          <p>10-minute configuration</p>
        </div>
        <div>
          <img src="../static/images/done (2).svg" alt="" />
          <p>10-minute configuration</p>
        </div>
        <div>
          <img src="../static/images/done (2).svg" alt="" />
          <p>10-minute configuration</p>
        </div>
        <div>
          <img src="../static/images/done (2).svg" alt="" />
          <p>10-minute configuration</p>
        </div>
      </div>
      <div class="_flex">
        <button class="_fill">Ro'yxatdan o'tish</button>
        <button>Barcha kurslar</button>
      </div>
    </div>
    <div class="_wrapper">
      <span class="_h2"> Начните абсолютно бесплатно </span>
      <Group />
      <div class="_margin"></div>
      <span class="_h2"> Полноценные курсы </span>
      <Group />
      <Form :dark="true" />
      <span class="_h2"> Biz noyob platformani taklif qilamiz</span>
      <div class="_grid">
        <div class="_lesson">
          <span class="gradient-text">01</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">02</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">03</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">04</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">05</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">06</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">07</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <span class="gradient-text">08</span>
          <div>
            <h3>Добавление в чат</h3>
            <p>
              Boshlash uchun sizga mos kursni tanlang yoki yordam xizmatiga
              murojaat qiling. Biz har doim sizga yordam beramiz.
            </p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
    
  </div>
</template>

<script>
import "~/static/css/home-page.css";

export default {
  props: ["details"],
};
</script>
