<template>
  <div id="player">
    <Header />

    <div class="_wrapper">
      <img src="~/static/images/player-bg.jpg" alt="" />
      <div class="_page_lesson">
        <div class="_left">
          <div class="_left_top">
            <div class="_avatar">
              <img src="~/static/images/ava.jpg" alt="" />
              <span class="_p">Michael Jordan</span>
            </div>
            <div>
              <img src="~/static/images/like-icon.png" alt="" />
              <div class="_note">like</div>

              <img src="~/static/images/share-icon.png" alt="" />
              <div class="_note">share</div>
            </div>
          </div>
          <div class="_left_bottom">
            <div class="_flex">
              <span class="_h2">Dars 1. HTML bu nima?</span>
              <button>К следующему уроку</button>
            </div>
            <span class="_p">
              Салам, пацаны. Этот курс просто лучшее из того, что я создавал в
              своей жизни мать вашу. Залетайте и охеревайте от качества
              продукта.
              <br />
              <br />

              И еще много разных искренних слов от преподавателя. <br />
              <br />

              4 месяца и вы готовый к работе специалист. Доступно. Качественно.
              По авторским методикам и постоянным контактом с преподавателем.
              <br />
              <br />

              Курсы по программированию, маркетингу, SMM, 3D-моделированию и
              графическому дизайну. <br />
              <br />

              Java стабильно лидирует по популярности среди программистов
              согласно индексу языков программирования TIOBE. Это классический,
              строго типизированный язык, который отлично подойдёт для новичков.
              Большая часть мобильных приложений написана именно на Java. <br />
              <br />

              Kotlin — сравнительно молодой язык, который уже стал четвёртым по
              популярности языком программирования по данным Stack Overflow.<br />
              <br />
            </span>
          </div>
        </div>
        <div class="right">
          <div class="_flex">
            <span class="_p"> Модуль 4. JavaScript </span>

            <div>
              <img src="~/static/images/arrow-left.png" alt="" />
              <img src="~/static/images/arrow-right.png" alt="" />
            </div>
          </div>
          <div class="_grid">
            <div class="preview" v-for="item of 4" :key="item.id">
              <div>
                <img src="~/static/images/done (2).svg" alt="" />
                <span class="_note"> HTML Beginner </span>
              </div>
              <span class="_note">02:30</span>
            </div>
              <div class="preview" v-for="item of 4" :key="item.id">
              <div>
                <img src="~/static/images/pause.png" alt="" />
                <span class="_note"> HTML Beginner </span>
              </div>
              <span class="_note">02:30</span>
            </div>
               <div class="preview" v-for="item of 2" :key="item.id">
              <div>
                <img src="~/static/images/play.png" alt="" />
                <span class="_note"> HTML Beginner </span>
              </div>
              <span class="_note">02:30</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>