#course-page {
  position: relative;

  ._width_small {
    margin: 0 auto;
  }
  ._note{
    white-space: nowrap;
    line-height: 19px;
    span{
      display: inline-block;
      margin-right: 4px;
    }
  }

  ._bg_dark {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 6;
    padding-top: 100px;

    .bg-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 621px;
      z-index: 7;
    }

    ._width_small, ._wrapper {
      //   padding-top: 74px;
      position: relative;
      z-index: 50;

      ._h2 {
        color: white;
      }

      ._grid {
        grid-gap: 10px;
        display: flex;
        .item {
          width: 226px;
          .preview {
            width: 226px;
            height: 125px;
            background: #FFFFFF;
            margin-bottom: 18px;
          }
          ._note {
            display: inline-block;
            margin-bottom: 9px;
            color: white;
            text-transform: uppercase;
          }

          ._p {
            font-size: 14px;
            color: #AAB3C0;
            line-height: 17px;
          }
        }
      }
      ._flex {
        gap: 80px;
        align-items: center;
        div {
          ._h1 {
            color: #FFFFFF;
            margin-bottom: 60px;
            font-weight: 900;
          }
          ._p {
            margin-bottom: 22px;
            color: #AAB3C0;
            width: 751px;
            line-height: 20px;
          }
          ._note {
            margin-bottom: 31px;
            color: #FFFFFF;
            display: block;
            width: 599px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
          }
          ._h2 {
            display: block;
            margin-bottom: 30px;
            color: #FFFFFF;
            font-weight: 900;

          }
          ._btn_white {
            margin-top: 20px;
          }
        }
        ._info_block {
          ._note {
            color: #10162F !important;
            margin-bottom: 1px;
            font-weight: 600;
          }
          ._fill_secondary {
            margin-top: 5px;
          }
        }
      }
      ._dotted {
        width: 100%;
      }
      ._cont {
        margin-top: 75px;
        ._grid {
          display: grid;
          grid-template-columns: repeat(auto-fill,minmax(226px,1fr));
        }
      }
    }
    ._width_small {
      ._flex {
        align-items: center;
        justify-content: space-between;
        div {
          ._h2 {
            color: #FFFFFF;
            margin-bottom: 10px;
          }
          ._p {
            width: 406px;
            color: #AAB3C0;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }

  }
  ._bg_white {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 62px 0;
  }
  ._block {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    ._p {
      color: white;
      line-height: 20px;
      color: #AAB3C0;
    }
    ._block_flex {
      gap: 0 !important;
      grid-gap: 0 !important;
      align-items: center;
      margin: 0;
      padding: 0;
      margin-bottom: 22px;
      img {
        margin-right: 13px;
      }
      ._h3 {
        color: white;
        margin-right: 13px;
      }
      ._fill_secondary {
        margin: 0;
        padding: 0;
      }
    }
  }
}
#course-page ._block:last-child{
  border: none;
}
