#player {
   
  ._wrapper {
    width: 1325px;
    padding-top: 40px;
    padding-bottom: 140px;
  }

  ._flex {
    cursor: pointer;
  }

  ._page_lesson {
    display: flex;
    gap: 24px;
    padding-top: 20px;

    ._left {
      width: 929px;

      ._left_top {
        border-bottom: 1px solid #AAB3C0;
        padding: 0 0 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ._avatar {
          width: fit-content !important;
          height: fit-content !important;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 13px;

          img {
            width: 55px;
            border-radius: 100%;
          }

          ._p {
            margin: 0;
            padding: 0;
          }
        }

        div {
          display: flex;

          ._note {
            line-height: 20px;
            text-transform: uppercase;
            margin-right: 24px;
          }

          img {
            margin-right: 11px;
          }
        }
      }

      ._left_bottom {
        padding-top: 32px;

        ._flex {
          justify-content: space-between;

          button {
            max-width: 224px;
          }
        }

        ._h2 {
          font-weight: 700;
          margin-bottom: 40px;
          line-height: 47px;
          color: #000000;
        }
      }
    }

    .right {
      width: 370px;
      height: 499px;
      border: 1px solid #AAB3C0;
      box-sizing: border-box;
      border-radius: 11px;
      padding: 20px 24px 22px 23px;

      ._flex {
        justify-content: space-between;
        gap: 89px;
        align-items: center;
        margin-bottom: 24px;

        ._p {
          font-style: 18px;
          font-weight: 700;
        }

        img {
          cursor: pointer;
        }
      }

      ._grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .preview {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;

          }

          img {
            margin-right: 16px;
          }

          ._note {
            font-weight: 700;
            line-height: 17px;
            color: #AAB3C0;
          }

        }
      }


    }

  }



}
#form {
  margin: 70px 0;

  ._width {
    padding: 0;
    position: relative;

  }
  ._form_bg_dark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 958px;
    height: 466px;
    background: linear-gradient(90deg, #10162F 0%, rgba(16, 22, 47, 0.83) 66.15%, rgba(16, 22, 47, 0) 100%);
    border-radius: 11px
  }
  ._form_bg_white {
    width: 958px;
    height: 466px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.83) 66.15%, rgba(255, 255, 255, 0) 100%);
    border-radius: 11px;
  }
  form {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    padding: 80px 0 80px 80px;
    ._h2 {
      margin-bottom: 10px;
      color: #10162f !important;
    }
    ._p {
      margin-bottom: 40px;
      color: #10162f !important;
    }

    input {
      background: #10162F;
    }

    input {
      color: white;
    }

    input ::placeholder {
      color: white;
    }
  }

  ._form_white {
    ._h2 {
      color: #FFFFFF !important;
    }

    ._p {
      color: #FFFFFF !important;
    }

    input ::placeholder {
      color: white;
    }
    input {
      color: white;
      background: rgba(255, 255, 255, 0.28);
    }

  }
}
