#footer {
  ._bg_dark {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;

    ._width_smallest {
      padding: 60px 0;

      ._flex {
        align-items: center;

        div {
          ._h2 {
            color: #FFFFFF;
            margin-bottom: 10px;
          }

          ._p {
            width: 381px;
            color: #AAB3C0;
            line-height: 20px;
          }

          button {
            margin-top: 27px;
          }
        }
      }
    }
  }

  ._bg_corp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;

    ._width_small {
      width: fit-content;
      padding: 62px 0;

      ._flex {
        gap: 97px;

        ._h2 {
          color: #FFFFFF;
          line-height: 47px;
          font-weight: 700;

        }

        ._flex {
          gap: 57px;

          span {
            display: block;
            margin-top: -5px;
            font-size: 22px;

            font-weight: 700;

          }
        }
      }
    }
  }

  footer {

    ._flex {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      padding: 0 205px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #F6F7FA;

      div {
        img {
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }
  }

}
