#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 300ms ease;
  width: 100%;
  height: fit-content;

  background: #f6f7fac5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);

  ._flex {
    width: 100%;
    padding: 12px 205px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ._flex {

      justify-content: flex-start;
      justify-content: center;
      padding: 0;
      gap: 24px;
    }
  }

  ._modal {
    transition: 300ms ease;
    width: 100%;
    height: fit-content;
    padding: 12px 16px;

    background-color: #10162F;
    text-align: center;
    position: relative;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

     ._p{
      padding-right: 120px;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
      color: #FFFFFF;
    }

    span {
      display: inline-block;
      margin-left: 10px;
      color: #F8D548;
    }

    img {
      position: absolute;
      right: 16px;
      top: 16px;
      cursor: pointer;
    }

    ._remove {
      transition: 300ms ease;
      margin-top: -300px;
    }
  }

}
