#home-page {
  ._main_heading {
    text-align: center;
    

    h1 {
      text-align: center;
     
      width: 1320px;
      margin: 0 auto;
      font-weight: 900;
      font-size: 65px;
      line-height: 76px;
      margin-bottom: 24px;
    }

    p {
      text-align: center;
      white-space: wrap;
      margin: 0 auto;
      width: 916px;
      line-height: 20px;

      white-space: wrap;
      margin-bottom: 24px;
    }

    ._flex {
      width: fit-content;
      margin: 0 auto;

      div {
        margin-right: 38px;
        display: flex;

        img {
          height: fit-content;
          width: fit-content;
          margin-right: 12px;
        }

        p {
          font-weight: 400;
          width: fit-content;
          height: fit-content;
        }
      }

      button {
        margin-right: 12px;
      }
    }

  }

  ._wrapper {
    padding: 75px 0 70px 0;

    ._h2 {
      margin-bottom: 15px;
    }
  }

  .gradient-text {
    display: inline-block;
    font-weight: 700;
    background: linear-gradient(180deg, #10162F 0%, #2B41F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 104px;
  }


  ._grid {
    display: grid;
    grid-gap: 20px;
    margin-top: 25px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 4fr));

    ._lesson {
      h3 {
        margin-bottom: 8px;
        line-height: 30px;
      }

      p {
        line-height: 20px;
        width: 290px;
      }
    }
  }




}
