$_width-big: 1680px;
$_width: 1440px;
$_width-small: 1120px;
$_width-minimal: 900px;


:root {
  --bg: #F6F7FA;
  --bg-green: #DBFDE5;
  --white: #FFFFFF;
  --corp: #2B41F0;
  --corp-dark: #10162F;
  --black: #000000;
  --grey: #AAB3C0;
  --green: #1CA245;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "Gilroy", sans-serif;
}

._main_heading {
  padding: 60px 0 60px;
  overflow: hidden;
  background-color: var(--bg);
  color: var(--corp-dark);
  width: 100%;
}

._wrapper {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

._flex {
  display: flex;
}

._bg_dark {
  background-color: var(--corp-dark);
  width: 100%;
}

._bg_corp {
  background-color: var(--corp);
  width: 100%;
}

._bg_white {
  background-color: var(--white);
  width: 100%;
}

._width_smallest {
  width: 797px;
  padding: 0 10px;
}

._width_small {
  width: 970px;
  padding: 0 10px;
}

._margin_small {
  height: 75px;
  width: 100%;
  padding: 0 10px;
}

._width {
  // margin: 0 auto;
  padding: 0 10px;
  width: 1320px;
  height: 466px;

  &._form {
    padding: 80px;
    background-image: url(../images/form-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    border-radius: 11px;

  }

  ._width_small {}
}

$placeholder: ('::-webkit-input-placeholder', ':-moz-placeholder', '::-moz-placeholder', ':-ms-input-placeholder', '::input-placeholder', '::placeholder');

@each $selector in $placeholder {
  #{$selector} {

    color: white;

  }
}

span * {
  display: inline-block;
}

p,
._p {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: var(--corp-dark);
}

._note {
  font-size: 14px;
  font-weight: 400;
  color: var(--corp-dark);
}


h1,
h2,
h3,
._h1,
._h2,
._h3 {
  color: var(--corp-dark);
}

._h1,
._h2,
._h3 {
  display: inline-block;
}

h1,
._h1 {
  font-size: 54px;
  font-weight: 600;
}

h2,
._h2 {
  font-weight: 600;
  font-size: 38px;
}

h3,
._h3 {
  font-weight: 600;
  font-size: 24px;
}

._h4,
h4 {
  display: block;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600 !important;
  margin: 0;
}

._buttons {
  display: flex;
  align-items: center
}

._buttons button {
  margin-bottom: 0 !important
}

._button,
button {
  cursor: pointer;
  background-color: transparent;
  color: var(--corp);
  height: 44px;
  font-size: 16px;
  white-space: nowrap;
  transition: .3s;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 190px;
  border: 2px solid var(--corp);

}

button {
  &._fill {
    background-color: var(--corp);
    color: #FFFFFF;
  }
}

._button._black,
button._black {
  border: 1px solid #000;
  background-color: #000
}

._button._black:hover,
._button:hover,
button._black:hover,
button:hover {
  box-shadow: -4px 4px 0 #000
}

._btn_small {
  width: 170px !important;
}

._btn_white {
  font-weight: 600;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid transparent;
}

._fill_secondary {
  display: inline-flex;
  align-items: center;
  padding: 3px 8px 2px !important;
  width: fit-content;
  height: fit-content;
  border-radius: 5px !important;
  margin-right: 6px !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  color: var(--green) !important;
  background-color: var(--bg-green) !important;
}

._circle {
  background-color: var(--green);
  font-size: 16px !important;
  border-radius: 50px;
  opacity: 1 !important;
  width: 5px !important;
  height: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

._grid {
  display: grid;
  grid-gap: 20px;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 4fr));
}

._item {
  cursor: pointer;
  background-color: var(--bg);
  flex-direction: column;
  transition: .3s;
  border: 1px solid transparent;
  height: fit-content;
  position: relative;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);

  .preview {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 177px;
    height: 177px;
    width: 317px;
    background-color: var(--corp);
    transition: .3s
  }

  .description {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    ._note {
      color: var(--grey);
      // margin: 10px 0;
    }

    button {
      margin-top: 10px;
      width: 100% !important;
    }
  }
}

._bg {
  width: 100%;
}

._dotted {
  padding: 80px 0;
  background-image: url(../images/dots.png);

  div {
    padding: 55px 92px 33px 92px;
    z-index: 15;
    margin: 0 auto;
    width: 1123px;
    height: 632px;
    background: #10162F;

    ._h2 {
      color: white !important;
      margin-bottom: 40px;
    }

    ._p {
      color: white !important;
      margin-bottom: 24px;
      line-height: 20px;
    }

    ._avatar {
      width: fit-content !important;
      height: fit-content !important;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 13px;

      img {
        width: 85px;
        border-radius: 100%;
      }

      ._p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

form {
  width: 400px;

  button {
    width: 100%;
  }
}

input,
select,
textarea {
  background: rgba(255, 255, 255, 0.28);
  width: 100%;
  height: 44px;
  border-radius: 10px;
  margin-bottom: 8px;
  border: none;
}

input {
  padding-left: 20px;
}
._margin {
  width: 100%;
  height: 185px;
}
 

._info_block {
  width: 483px;
  height: 518px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 23px 25px 24px 25px;
  display: flex;
  flex-direction: column;
  gap: 29px;

  ._fill_secondary {
    background-color: #C5CBF8 !important;
    color: var(--corp) !important;
  }

  ._circle {
    background-color: var(--corp) !important;
  }

  ._player {
    width: 433px;
    height: 232px;
    background: #2B41F0;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;

    ._icon {
      display: block;
      height: 25px;
      width: 20px !important;
    }
  }
}

._preview {
  width: 226px;
  height: 125px;
  background: #FFFFFF;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ._note {
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
  }

}

._line {
  width: 100%;
  height: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
